.df {
  display: flex !important;
}

.jcc {
  justify-content: center !important;
}

.jce {
  justify-content: end !important;
}

.jcb {
  justify-content: space-between !important;
}

.jca {
  justify-content: space-around !important;
}

.aic {
  align-items: center;
}
